html {
  height: 100%;
}

.banner-display-container {
  height: 600px;
  /* background-image: url("../img/North%20Oceans_%20Effectively%20Handling%20Your%20Freight%20Forwarding%20Operations.jpg"); */
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.4) 100%,
      rgba(255, 255, 255, 0.3) 40%
    ),
    url("../img/homepage 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.banner-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.form-section {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin: auto;
}

.form-group {
  width: 80%;
  font-family: Abel;
  /* text-align: center; */
  font-weight: 700;
  color: #484545;
  padding: 10px;
}

.icon-img {
  height: auto;
  width: 100%;
  max-height: 200px;
}

.article-section {
  padding: 0.5em;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.article-text {
  padding: none;
  width: 45%;
  margin: 1em;
}

.article-description {
  font-size: 14px;
  font-family: Anaheim;
  text-align: left;
  color: #000000;
}

.article-img {
  width: 45%;
  height: auto;
}

.article-heading {
  color: rgb(0, 0, 0);
  font-size: 2em;
  margin: 0.3em 0px;
}

.about-us-text {
  margin: 0px;
}

.banner-text {
  color: white;
  padding: 0.5em 4em;
  width: 40%;
  font-size: 12px;
  text-align: left;
  font-family: poppins;
}
.banner-header {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

/* h2 {
  font-family: Abel;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  color: #3a3838;
  font-weight: lighter;
} */

hr {
  border: 1 solid #000000;
  margin: auto;
  width: 50%;
}

.btn-submit {
  width: 15%;
  background-color: #5863f8;
  color: white;
  border: 1px solid #5863f8;
  margin-top: 1.4em;
  margin-left: 1em;
}

.btn-submit:hover {
  background-color: #2d36c0;
  color: white;
  border: 1px solid #5863f8;
}

.btn {
  width: 30%;
  background-color: #5863f8;
  color: white;
  border: 1px solid #5863f8;
  margin-top: 1.4em;
  padding: 0.9em;
}

.btn-icon {
  height: 10px;
  padding-left: 0.4em;
}

.search-form {
  background-color: white;
  margin: -50px auto 1px auto;
  width: 80%;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 9999;
}

.text-purple {
  color: #5863f8;
}

.row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  margin: 0px;
}
.col {
  width: 15%;
  font-family: Abel;
  /* text-align: center; */
  color: #484545;
  padding: 2em;
  margin: 2em;
}

.features-section {
  height: 500px;
  /* background-image: url("../img/North%20Oceans_%20Effectively%20Handling%20Your%20Freight%20Forwarding%20Operations.jpg"); */
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7) 100%,
      rgba(255, 255, 255, 0.3) 40%
    ),
    url("../img/chris-lee-70l1tDAI6rM-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 5em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-text {
  color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
}

.feature-heading {
  color: white;
  font-size: 2em;
  margin: 0.3em 0px;
}

.features-text-container {
  margin: 0px auto;
  padding: 4em 0;
  width: 80%;
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

.purple-circle {
  border-radius: 50%;
  background-color: #5863f8;
  display: inline-block;
  padding: 0.5em;
}

.img-row {
  max-width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* margin: 0px; */
}

.profile-detail {
  width: 100%;
  margin: 1em;
  font-size: 12px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.faded-text {
  color: rgba(0, 0, 0, 0.3);
}

.bg-gray {
  background-color: #f8f8f8;
}

.active {
  background-color: #5863f8;
}

.testimonial-container {
  margin: 0px 0px 0px 5em;
  padding: 0px 0px 0px 0px;
  max-width: 100%;
}

.testimonial-section {
  /* padding: 0.5em; */
  max-width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  justify-content: space-between;
  height: 400px;
}

.testimonial-text {
  padding: 3em;
  width: 45%;
  /* margin: 1em; */
}

.testimonial-img {
  width: 45%;
  height: auto;
  margin-right: 0px;
}

.restaurant-section {
  padding-bottom: 3em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2em;
  margin-top: 5em;
  margin-left: 6%;
}

.restarant-heading {
  color: white;
  font-size: 2em;
  margin: 0.3em 0px;
}

.restaurant-img-card {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding-right: 3em;
  height: 150px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-arrow {
  width: 10%;
  height: auto;
  background-color: #5863f8;
  color: white;
  border: 1px solid #5863f8;
  padding: 0.9em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.restaurant {
  max-height: 200px;
  margin: 0.5em;
  margin-left: 4%;
  padding-bottom: 0.2em;
}

.menu-detail {
  padding: 1em;
  width: 100%;
  font-size: 14px;
}

.col-2 {
  width: 45%;
  margin: 1em;
  /* text-align: center;
  color: #484545;
  padding: 2em; */
}

.restaurant-text-container {
  margin-left: 5%;
  padding: 1em 0;
  width: 35%;
}

.blog-section {
  padding-bottom: 3em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2em;
  margin-left: 10%;
}

.blog-text-container {
  margin-left: 1%;
  padding: 1em 0;
  width: 35%;
}

.col-3 {
  width: 28%;
  margin: 1em;
  /* text-align: center;
  color: #484545;
  padding: 2em; */
}

.blog-img-card {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  height: 320px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2em;
  text-align: center;
}

.blog-detail {
  padding: 1em;
  width: 70%;
  font-size: 14px;
  margin: auto;
}

.blog {
  display: flex;
  justify-content: center;
}

.blog-img-responsive {
  max-width: 100%;
  height: auto;
}

.blog {
  display: flex;
  justify-content: flex-start;
}

.col-4 {
  width: 28%;
}

.gallery-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.gallery-text-container {
  margin-left: 5%;
  padding: 1em 0;
  width: 35%;
}

.footer {
  background-color: #121212;
}

.footer-row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  margin: 0px;
}

.col-5 {
  width: 25%;
  font-family: Abel;
  /* text-align: center; */
  color: #484545;
  padding: 1em;
  margin: 1em;
}

.col-5 h1,
h2 {
  color: #ffffff;
}

.col-5 a {
  text-decoration: none;
  color: #5863f8;
}

.col-5 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.col-5 li {
  margin-top: 0.5em;
  color: #ffffff;
}

.col-6 {
  width: 50%;
  font-family: Abel;
  /* text-align: center; */
  color: #484545;
  margin-left: 3em;
}

.copywrite-text {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
  margin: 0px;
}

@media (max-width: 599px) {
  .banner-text {
    width: 90%;
    text-align: center;
  }

  .icon-div {
    width: 70%;
  }

  .icon-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article-section {
    flex-direction: column;
    align-items: center;
  }
  /* 
  .reverse-article-order {
    flex-direction: column-reverse;
  } */

  .article-text {
    width: 100%;
    text-align: center;
  }

  .article-img {
    width: 100%;
    height: auto;
  }
}
